<aside
  class="flex flex-col justify-between h-full bg-theme-secondary transition-all duration-150 delay-100 ease-in-out border-r border-theme-tertiary"
  [ngClass]="widthClass()"
>
  <div>
    @if (isExpanded()) {
    <div class="flex items-center justify-between w-full h-16 px-2 border-b border-theme-tertiary">
      <button
        class="group flex justify-center items-center p-2 rounded-sm bg-theme-secondary hover:bg-theme-tertiary hover:cursor-pointer text-theme-primary-text hover:text-accent-muted"
        (click)="goHome()"
        (mouseenter)="onEnterHomeIcon()"
        (mouseleave)="onLeaveHomeIcon()"
      >
        <i
          class="text-2xl fa-solid"
          [ngClass]="isHomeIconHovered() ? 'fa-house-chimney' : 'fa-atom'"
        ></i>
      </button>

      <button
        class="flex justify-center items-center p-2 rounded-sm bg-theme-secondary hover:bg-theme-tertiary hover:cursor-pointer text-theme-primary-text hover:text-accent-muted"
        (click)="toggleSidebar()"
      >
        <i class="fa-solid fa-angles-left text-2xl"></i>
      </button>
    </div>
    } @else {
    <div class="w-full h-16 flex items-center justify-center">
      <button
        class="flex justify-center items-center p-2 rounded-sm bg-theme-secondary hover:bg-theme-tertiary hover:cursor-pointer text-theme-primary-text hover:text-accent-muted"
        (click)="toggleSidebar()"
        (mouseenter)="onEnterHomeIcon()"
        (mouseleave)="onLeaveHomeIcon()"
      >
        <i
          class="text-2xl fa-solid"
          [ngClass]="isHomeIconHovered() ? 'fa-angles-right' : 'fa-bars'"
        ></i>
      </button>
    </div>
    } @if (isExpanded()) { <app-nav-list></app-nav-list>}
  </div>
  @if (isExpanded()){
  <div>
    <app-theme-toggle></app-theme-toggle>
    <app-quick-contact></app-quick-contact>
  </div>
  }
</aside>
