<header
  class="w-full h-full bg-theme-secondary flex flex-col justify-between"
  [ngClass]="widthClass()"
>
  <!-- This will stretch to fill the space -->
  <div class="flex-1 w-full">
    @if (isExpanded()) {<app-nav-list (navigated)="toggleHeader()"></app-nav-list>}
  </div>

  <!-- Button container stays fixed height -->
  <div class="w-full">
    @if(isExpanded()){
      <app-theme-toggle></app-theme-toggle>
      <app-quick-contact></app-quick-contact>
    }

    <button
      class="flex justify-center items-center p-2 bg-theme-secondary text-theme-primary-text hover:bg-theme-tertiary active:bg-theme-quaternary hover:cursor-pointer hover:text-accent-muted active:text-accent w-full h-12 w-full border-theme-tertiary"
      [ngClass]="isExpanded() ? 'border-t ' : 'border-b'"
      (click)="toggleHeader()"
      (mouseenter)="onEnterExpandButton()"
      (mouseleave)="onLeaveExpandButton()"
    >
      <i
        class="text-2xl"
        [ngClass]="
          isExpanded()
            ? 'fa-solid fa-angles-up'
            : isExpandIcon()
            ? 'fa-solid fa-angles-down'
            : 'fa-solid fa-bars'
        "
      ></i>
    </button>
  </div>
</header>
