<div class="w-full h-full bg-theme-primary overflow-y-auto p-2 md:p-8 border border-theme-tertiary">
  <div #blogHeader class="w-full flex flex-row justify-between items center">
    <div class="w-16 h-16 md:w-32 md:h-32"></div>
    <div class="flex flex-col items-center">
      <div class="text-2xl md:text-5xl pb-2 font-bold text-theme-primary-text">
        {{ blogData().header }}
      </div>
      <div class="text-xl md:text-2xl pb-2 text-theme-secondary-text">
        {{ blogData()?.subHeader }}
      </div>
      <div class="flex flex-row text-theme-secondary-text">
        <div class="mr-10">author: {{ blogData().author }}</div>
        <div>Publish Date: {{ blogData().createdOn | date : 'mediumDate' }}</div>
      </div>
    </div>
    <div class="w-16 h-16 md:w-32 md:h-32"></div>
  </div>
  <div #blogBody>
    @for(item of blogData().body; track item.header) {
    <hr class="my-2 text-theme-tertiary" />
    <div class="text-xl md:text-2xl font-semibold text-theme-primary-text">{{ item?.header }}</div>
    <div class="text-base md:text-xl pb-2 font-medium italic text-theme-secondary-text">
      {{ item?.subHeader }}
    </div>

    <div class="">
      @if(item?.rightAlignedImages?.length){
      <div class="float-right ml-12">
        @for(img of item?.rightAlignedImages; track img.imageName){
        <div class="w-24 h-24 md:w-64 md:h-64 bg-theme-tertiary mb-2"></div>
        }
      </div>
      } @if(item?.leftAlignedImages?.length){
      <div class="float-left mr-12">
        @for(img of item?.leftAlignedImages; track img.imageName){
        <div class="w-24 h-24 md:w-64 md:h-64 bg-theme-tertiary mb-2"></div>
        }
      </div>
      }

      <markdown
        class="prose prose-theme max-w-none text-base md:text-2xl text-theme-primary-text"
        [data]="item.body"
      ></markdown>

      @if(item?.bottomimages?.length){
      <div class="mt-4 w-full flex flex-col items-center">
        @for(img of item?.bottomimages; track img.imageName){
        <div class="w-full h-24 md:w-full md:h-64 bg-theme-tertiary mb-2"></div>
        }
      </div>
      }
    </div>

    }
  </div>
</div>
