<div
  class="w-full h-full bg-theme-primary overflow-y-auto p-6 md:p-8 border border-theme-tertiary scrollbar-thin scrollbar-thumb-theme-quaternary scrollbar-thumb-rounded-full scrollbar-track-theme-tertiary"
>
  <!-- The header for the entirerty of the blog entry (each blog may have an array of body content, each with their own header/subheader) -->
  <app-blog-header [blogData]="blogData()"></app-blog-header>

  <!-- A list of blog body content (can be a mixture of images/text) -->
  <app-blog-body [blogData]="blogData()"></app-blog-body>
</div>
